# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip
**/*.jar
/backups/
/config/jei/world/local
/crash-reports/
/data/
/downloads
/dumps/
/journeymap/
/kubejs/exported
/libraries/
/llibrary/
/local/
/logs/
/mods
/resourcepacks
/saves
/saves/
/world_backup/
/world/
/screenshots/
/.probe
/.vscode

# Client Configs
config/abnormals_core-client.toml
config/ae2/client.json
config/ambientsounds-client.json
config/artifacts-client.toml
config/astralsorcery-client.toml
config/betteradvancements-client.toml
config/betterendforge/client-config.toml
config/cagedmobs-client.toml
config/cfm-client.toml
config/chiselsandbits-client.toml
config/clienttweaks-client.toml
config/computercraft-client.toml
config/craftingtweaks-client.toml
config/create-client.toml
config/cucumber-client.toml
config/cyclopscore-client.toml
config/darkmodeeverywhereshaders.json
config/eidolon-client.toml
config/emojiful-client.toml
config/enigmaticgraves-common.toml
config/entity_culling-client.toml
config/explorerscompass-client.toml
config/extremesoundmuffler-client.toml
config/farmersdelight-client.toml
config/findme-client.toml
config/framedblocks-client.toml
config/ftbbackups2.json
config/ftbchunks-client.toml
config/gravestone-client.toml
config/immersiveengineering-client.toml
config/immersivepetroleum-client.toml
config/inventoryhud-client.toml
config/InvTweaks.cfg
config/ironjetpacks-client.toml
config/itemzoom-client.toml
config/jei-client.toml
config/jei/bookmarks.ini
config/jei/jei-client.ini
config/jei/lookupHistory.zip
config/jei/worldSettings.cfg
config/mcjtylib-client.toml
config/mininggadgets-client.toml
config/miniutilities-client.toml
config/morered-client.toml
config/MouseTweaks.cfg
config/mythicbotany-client.toml
config/neat-client.toml
config/occultism-client.toml
config/oculus.properties
config/personality-client.toml
config/pneumaticcraft-client.toml
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
config/rare-ice.properties
config/refinedstorage-client.toml
config/rftoolsbuilder-client.toml
config/rftoolscontrol-client.toml
config/rftoolsdim-client.toml
config/rftoolspower-client.toml
config/rftoolsstorage-client.toml
config/rftoolsutility-client.toml
config/sophisticatedbackpacks-client.toml
config/sounddeviceoptions-client.toml
config/supplementaries-client.toml
config/tconstruct-client.toml
config/theoneprobe-client.toml
config/thermal-client.toml
config/toolbelt-client.toml
config/travel_anchors-client.toml
config/twilightforest-client.toml
config/upgrade_aquatic-client.toml
rhino.local.properties

# Other stuff
emi.json
patchouli_data.json
usercache.json
usernamecache.json
