# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip
**/*.jar
/backups
/crash-reports
/data
/downloads
/dumps
/config/jei/
/journeymap
/kubejs/exported
/libraries
/llibrary
/local
/logs
/mods
/resourcepacks
/saves
/world_backup
/world
/screenshots
/.probe
/.vscode
/dev_textures
/.mixin.out
.curseclient
options.txt

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Other stuff
emi.json
patchouli_data.json
usercache.json
usernamecache.json
rhino.local.properties
options.txt
/dev
kubejs/startup_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/client_scripts/jsconfig.json
kubejs/config/probe-settings.json
config/fml.toml
profileImage/server-icon.png
/xaero
