# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip
**/*.jar
/backups/
/config/jei/world/local
/crash-reports/
/data/
/downloads
/dumps/
/journeymap/
/kubejs/exported
/libraries/
/llibrary/
/local/
/logs/
/mods
/resourcepacks
/saves
/saves/
/world_backup/
/world/
/screenshots/
/.probe
/.vscode

# Other stuff
emi.json
patchouli_data.json
usercache.json
usernamecache.json
rhino.local.properties
/saves/
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
/config/jei
options.txt
